<div class="card shadow">
    <div class="card-block">
        <h4 class="card-title">CV</h4>
    </div>
    <ul class="list-group list-group-flush" *ngIf="listeCv?.length > 0">
        <li *ngFor="let cv of listeCv; let i = index" class="list-group-item list-group-item-action justify-content-between">
            {{cv.name}}
            <span (click)="removeCV(i)" class="badge badge-default badge-pill bg-danger">
		<i class="fa fa-times" aria-hidden="true"></i>
		</span>
        </li>
    </ul>
    <div class="card-block">
        <label class="custom-file">
        <input name="cv" type="file" class="custom-file-input" (click)="arg = 'cv'" ngFileSelect [options]="options" (onUpload)="handleUploadCV($event)" (beforeUpload)="beforeUploadCV($event)">
      <span class="custom-file-control"></span>
		</label>
    </div>
</div>