<div class="card shadow">

	<div class="card-block">
		<h4 class="card-title">Consulter candidature</h4>
	</div>
	<ul class="list-group list-group-flush"  *ngFor="let l of listeCandidature; let i = index">
		<li class="list-group-item list-group-item-action justify-content-between">
			<h5>{{listeCandidature[i].candidature.offre.titre}}</h5> <br>
      <span>{{listeCandidature[i].document.candidat.nom }}</span>
			<a  (click)=" CvCandidat(listeCandidature[i].document.candidat.idUtilisateur , i)  ; lgModal.show() "
				class="text-primary" style="cursor:pointer;">Voir CV</a> <a (click)="archiverCandidature(i)"
			class="card-link text-primary" style="cursor:pointer;">Archiver</a> <span
			class="badge badge-default badge-pill bg-danger" (click)="removeCandidature(i)"> <i
				class="fa fa-times" aria-hidden="true"></i></span>
		</li>
	</ul>
	<!-- ###################### MODAL ############################ -->


	<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  <div class="modal-dialog modal-lg">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h4 class="modal-title pull-left">{{nom}} {{prenom}}</h4>
	        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">

	       <blockquote class="blockquote">
				<h5>A propos</h5>
				<p>{{apropos}}</p>
			</blockquote>

			<blockquote class="blockquote">
				<h5>Experience</h5>
				<ul class="list-group list-group-flush"  *ngIf="listeExperience?.length > 0">
					<li	class="list-group-item list-group-item-action" *ngFor="let exp of listeExperience; let i = index">
            {{listeExperience[i].poste_occupe}} <br>
            {{listeExperience[i].duree}}<br>
            {{listeExperience[i].description}}
					</li>
				</ul>
			</blockquote>

			<blockquote class="blockquote">
				<h5>Compétence</h5>
				<ul class="list-group list-group-flush">
					<li	class="list-group-item list-group-item-action">
						comp1
					</li>
				</ul>
			</blockquote>

			<blockquote class="blockquote">
				<h5>Certification</h5>
				<ul class="list-group list-group-flush" *ngIf="listeCertification?.length > 0">
					<li	class="list-group-item list-group-item-action" *ngFor="let exp of listeCertification; let i = index">
            {{listeCertification[i].certification}}<br>
            {{listeCertification[i].annee}}
          </li>
				</ul>
			</blockquote>

			<blockquote class="blockquote">
				<h5>Formation</h5>
				<ul class="list-group list-group-flush"  *ngIf="listeFormation?.length > 0" >
					<li	class="list-group-item list-group-item-action" *ngFor="let exp of listeFormation; let i = index">
            {{listeFormation[i].etablissement}}<br>
            {{listeFormation[i].specialite}}<br>
            {{listeFormation[i].diplome}}<br>
            {{listeFormation[i].annee}}
          </li>
				</ul>
			</blockquote>

			<div class="pull-right">
			<a
				class="btn btn-success card-link ">Télécharger CV</a>
			</div>

	      </div>
	    </div>
	  </div>
	</div>

	<!-- ###################### MODAL ############################ -->
</div>

