<div class="container-fluid">
	<div class="row">
		<div class="col-3">
			<div  class="row"  >
				<div class="col-12" >
					<app-bloc-profile></app-bloc-profile>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<app-filter></app-filter>
				</div>
			</div>
		</div>
		<div class="col-6">
			<div class="row">
				<div class="col-12">
					<app-bloc-offres></app-bloc-offres>
				</div>
			</div>
		</div>
		<div class="col-3">
			<div class="row">
				<div class="col-12">
					<app-bloc-suggestions></app-bloc-suggestions>
				</div>
			</div>

		<div class="row">
			<div class="col-12">
				<app-bloc-entreprises></app-bloc-entreprises>
			</div>
		</div>
		</div>
	</div>
</div>
<br>
